<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>SIH Login</title>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="pesce_logo.png" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <p class="navbar-brand">SIH</p>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/">HOME</a></li>
          <li id="sign up"><a href="/signup">SIGN UP</a></li>
        </ul>
      </div>
    </nav>
  </head>

  <body>
    <!-- <img src="pesce_logo.png" alt="Image Load Error" width="60" height="60" ali>
    <img src="th.png" alt="Image Load Error" width="60" height="60" ali>  -->
    <h1 class="heading">Student Login</h1>
    <form action="/login" method="post">
      <div class="container">
        <label class="info">
          Adhaar Number :
          <input
            type="number"
            name="adhaarNumber"
            id="adhaar"
            placeholder="Enter Aadhar number"
            required
          />
        </label>
        <br />
        <button type="submit">verify</button>
      </div>
    </form>
  </body>
  <span><%= errorMessage %></span>
</html>
