.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}

.footer-padding {
    padding-bottom: 60px;
}

.footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #1abc9c;
}

.footer p {
    margin-top: 25px;
    font-size: 12px;
    color: #fff;
}

Body {
    font-family: Calibri, Helvetica, sans-serif;
    background-color: rgb(251, 246, 246);
    width: 100%;
}

.button5 {
    border-radius: 50%;
}

button {
    background-color: #8484bb;
    width: 20%;
    color: rgb(255, 255, 255);
    padding: 15px;
    margin: 10px 0px;
    align-items: center;
    border: none;
    cursor: pointer;
}

form {
    border: 3px solid #f1f1f1;
    width: 100%;
}

input {
    width: 100%;
    margin: 8px 0;
    padding: 12px 20px;
    display: inline-block;
    border: 2px solid green;
    box-sizing: border-box;
}

button:hover {
    opacity: 0.7;
}

.container {
    padding: 25px;
    background-color: lightblue;
}

.heading {
    text-align: center;
}
